.main-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
  padding: 0.2rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

input[type=text] {
  width: 80%;
}

select{
  width:82%
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 8px;
}

th {
  background-color: rgb(199, 199, 199);
}

td {
  background-color: rgb(235, 234, 233);
}

#editButton,#DeleteButton{
  
  width:100%;
  font-size: 20px;
}


form {
  display: flex;
  gap: 5px;
  align-self: center;
  flex-direction: column;
}

form td:last-child {
  display: flex;
  justify-content:center;
}

form * {
  font-size: 28px;
}

#add{
  width:82%;
}